<div *ngIf="spinner$ | async" 
     class="flex justify-content-center align-items-center h-full">
    <mat-spinner class="flex align-items-center"></mat-spinner>
</div>

<div *ngIf="heroes$ | async as heroes">
    <h2 class="m-3">Heroes list</h2>

    <div class="flex flex-column p-2">
        <mat-form-field>
            <mat-label>Search heroes</mat-label>
            <input 
                matInput 
                type="text"
                [formControl]="search">
        </mat-form-field>

        <button 
            mat-button
            mat-raised 
            [routerLink]="['/heroes/manage-heroes']">
            <mat-icon>add</mat-icon>
            Add new hero
        </button>

    </div>

    <mat-divider></mat-divider>

    <div class="flex justify-content-center">
        <!-- <span>noExistingHeroes: {{ noExistingHeroes.value }}</span> -->
        <mat-card *ngIf="!heroes.length && (noHeroesInDB | async)" class="no-heroes-card m-6 w-full">
            <mat-card-header>
                <mat-card-title class="m-2">There are no heroes</mat-card-title>
                <mat-card-subtitle class="m-2">Click to ask for heroes in web</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button 
                    (click)="fillHeroesWithExternal()"
                    color="accent"
                >
                    Ask
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="flex justify-content-center">
        <mat-card *ngIf="!heroes.length && !(noHeroesInDB | async)" class="no-heroes-card m-6 w-full">
            <mat-card-header>
                <mat-card-title class="m-2">Sorry, we couldn't find any heroes matching your search</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card-subtitle class="m-2">Try searching with different terms or explore other options</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="grid bm-8 pt-5">
        <div *ngFor="let hero of heroes"
            class="col-12 sm:col-4 md:col-3 xl:col-2"
        >
            <list-hero-item 
                *ngIf="hero && hero.id" 
                [hero]="hero">
            </list-hero-item>
        </div>
    </div>

    <div>
        <mat-paginator 
            [length]="totalListItems"
            [pageSize]="pageSize"
            aria-label="Select page"
            [hidePageSize]="true"
            color="warn"
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>

</div>
