<div class="container" >

  <div class="flex-1 text-center text-xl mb-5 light-dark" color="primary">
    <span class="title">Login / Register</span>
  </div>

  <form (ngSubmit)="onSubmit($event)" [formGroup]="userForm">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter your username"
        required
        formControlName="username"
        name="username"
      />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Enter your email"
        required
        formControlName="email"
        name="email"
      />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter your password"
        required
        formControlName="password"
        name="password"
      />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Moral Alignment</mat-label>
      <mat-select formControlName="preference" name="moralAlignment" required>
        <mat-option *ngFor="let a of aligments" [value]="a">
          {{ a }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>category</mat-icon>
    </mat-form-field>

    <div class="buttons">
      <button
        type="submit"
        class="button primary"
        
      >
        Log in
      </button>
      <button
        type="button"
        class="button accent"
        (click)="autoFill()"
      >
        Auto Complete
      </button>
    </div>
  </form>
</div>
  